.login-form-button {
  width: 100%;
  border: none;
  background: -webkit-linear-gradient(45deg, #33ffff, #2db7f5 60%); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(45deg, #33ffff, #2db7f5 60%); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(45deg, #33ffff, #2db7f5 60%); /* Firefox 3.6 - 15 */
  background: linear-gradient(to 45deg, #33ffff, #2db7f5 60%); /* 标准的语法 */
}

.login-form-button:hover {
  background: -webkit-linear-gradient(45deg, #33ffff, #2db7f5 90%); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(45deg, #33ffff, #2db7f5 90%); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(45deg, #33ffff, #2db7f5 90%); /* Firefox 3.6 - 15 */
  background: linear-gradient(45deg, #33ffff, #2db7f5 90%); /* 标准的语法 */
}
